/*
########################################
GLOBAL STYLES
    general theme and layouts (Not including class selectors)
########################################
*/

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.3em;
    font-size: 21px;
}

footer {
    background-color: #AED2D3;
    text-align: center;
    line-height: 80px;
    padding: 0;
    height: 80px;
}

footer > p {
    margin: auto;
    line-height: 80px;
}

/*
########################################
GLOBAL STYLES - class selectors
    All misc class selectors
########################################
*/

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.drop-caps:first-letter {
    float: left;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 4em;
    line-height: 0.9em;
}

.row {
    display: flex
}

.content-left {
    flex: 70%;
    padding-right: 5px;
    border-right: 2px solid #C0DCDD;
}

.content-right {
    flex: 30%;
    padding-left: 10px;
}

.small-aside {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

/*
########################################
NAVBAR - Navigation styles
    Configures appearance of navbar
    including buttons and links
########################################
*/
.nav-links {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
}

.nav-links > li {
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.nav-links > li > a {
    color: #2B3738;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    font-size: 20px;
}

.nav-links > li > a:hover {
    text-decoration: none;
    background-color: #EDF5F5;
}

/*
########################################
NAVBAR - Line Decoration
    A decorative Navbar element
########################################
*/
.colored-line {
    width: 100%;
    height: 10px;
}

.line-color1, .line-color2, .line-color3, .line-color4, .line-color5 {
    float: left;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
}

.line-color1 {
    background-color: #C0DCDD;
}

.line-color2 {
    background-color: #AED2D3;
}

.line-color3 {
    background-color: #9CC8CA;
}

.line-color4 {
    background-color: #8EB6B8;
}

.line-color5 {
    background-color: #80A4A6;
}

/*
########################################
-- PAGE -- ABOUT US
    about page with standard content describing the company
########################################
*/
header.primary {
    padding-top: 30px;
    height: 120px;
}

header.primary > img {
    height: 120px;
}

.commitment-list {
    font-size: 21px;
}

.announcements > p {
    font-size: 18px;
}

/*
########################################
-- PAGE -- DONATE
    a page to get free money
########################################
*/
.donation-link {
    width: 256px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/*
########################################
INNOVATION SECTION
    This section is dedicated to the Face graphic on the index page
########################################
*/
.innovation-section {
    padding-bottom: 80px;
}

.innovation-section h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.innovation-section p {
    max-width: 600px;
    margin: auto;
}

.innovation-section > div {
    text-align: center;
}

.innovation-section div > a {
    margin-top: 20px;
    background-color: #aacbc5;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    font-size: 20px;
    border-radius: 5px;
}

.innovation-section div > a:hover {
    text-decoration: none;
    background-color: #EDF5F5;
}

/*
########################################
PRODUCT SHOW
    selectors that handle displaying products on front page
########################################
*/
.product-show {
    min-height: 300px;
    text-align: center;
    padding: 30px;
    background-color: #C0DCDD;
}

/* an alternate background color */
.product-dark {
    background-color: #3f7676;
    color: #fff;
}

.product-show > img {
    height: 300px;
}

.product-show > h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

.product-show > h2 {
    font-size: 20px;
    font-weight: normal;
}

.product-show > div {
    padding-top: 10px;
}

.product-show > div > a {
    background-color: #aacbc5;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    font-size: 20px;
    border-radius: 5px;
}

.product-show > div > a:hover {
    text-decoration: none;
    background-color: #EDF5F5;
}

/* alternate background for button */
.product-dark > div > a {
    background-color: #88d7d5;
}

.product-dark > div > a:hover {

}

.product-show::after {
    clear:both;
}

.image-center {
    width: 100%;
}


/*
########################################
RESPONSIVE selectors
    configures different media queries
    to handle page management
########################################
*/
@media screen and (max-width: 900px) {
    .wrapper {
        width: 100%;
    }

    .media-pad {
        padding: 0 20px;
    }
}

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }
    .content-left {
        border-right: none;
    }
    .content-right {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .product-show > img {
        height: auto;
        width: 100%;
    }
}
